[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neat-python = "*"
gym = "*"
graphviz = "*"
matplotlib = "*"
pyopengl = "*"

[dev-packages]

[requires]
python_version = "3.6"
